*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login{
    width: 380px;
    height:490px;
    background:transparent;
    top: 20%;
    left:8%;
    position:absolute;
    transform: translate{-50%,-50%}
    box-sizing: border-box;
    padding: 80px 40px;
}